.main-body {
    margin: 5% 10% 5% ;
    border: 1px solid red;
}

.card-view {
    margin: 8px 0;
}

.title-textarea {
    font-size: 24px;
    font-weight: bold;
    resize: none;
    width: 25%;
    margin-bottom: 8px;
}

.border-red {
    border: 1px solid red;
}